html,
body {
  height: 100%;
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 58px;
  margin: 25px 25px 25px 25px;
}

p {
  color: #adb7bd;
  font-family: "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-indent: 30px;
  margin: 25px 25px 25px 25px;
  text-align: justify;
}

.date {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.datepicker {
  width: 50%;
}

.player-wrapper {
  position: relative;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

img {
  max-width: 40%;
  height: auto;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 28px;
  }

  .date {
    font-size: 16px;
  }
}
